/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
      url(assets/Lato-400.woff) format('woff'),
      url(assets/Lato-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
      url(assets/Lato-700.woff) format('woff'),
      url(assets/Lato-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    max-width: 36rem;
    background: white;
    padding: 0 2rem;
}
body > *:not(section) {
  display: none;
}

h1 {
    font-weight: normal;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
/*     word-spacing: -1px; */
}
h1 span {
    font-weight: bold;
}
h3 {
    margin: 2rem 0 1rem 0;
    color: #aaa;
    font-weight: normal;
    font-size: 0.875rem;
    text-transform: uppercase;
/*     text-align: center; */
}
a {
    text-decoration: none;
    color: #4481fe;
}
a:visited {
    color: rgb(90, 47, 132);
    color: rgb(100, 70, 130);
}
a:not(.icon) {
    border-bottom: 1px dashed #aaa;
}
.icons a > *:first-child {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: block;
}
.icons span {
    display: none;
}
.icon {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.horizontal {
    display: flex;
    justify-content: space-between;
}
p.center {
    text-align: center;
    display: block;
}
p.small {
    font-size: 0.8125rem;
}
/* a img, a svg {
    transform: scale(1);
    transition: transform 200ms;
}
a:hover img, a:hover svg {
    transform: scale(1.2) translateZ(0);
} */
@media (max-width: 414px) {
    .icons li {
        width: 52px;
    }
}
@media (min-width: 414px) {
    h1 {
        font-size: 2rem;
    }
}
@media (min-width: 36rem) {
    .icons span {
        font-size: 0.75rem;
        position: relative;
        top: -0.875rem;
        text-align: center;
        display: block;
        opacity: 0;
        transform: scale(0.8, 1);
        transition: top 250ms, opacity 100ms 100ms, transform 250ms;
    }
    .stack span {
        transform: scale(0.6, 1);
    }
    /*.icons a:hover span {
        top: 0;
        opacity: 1;
        transform: scale(1);
        transition: top 250ms, opacity 100ms, transform 250ms;
    }*/
    p {
        text-align: justify;
    } 
}
@media (min-width: 64rem) and (max-height: 60rem), (min-height: 60rem) {
    html {
        background: #ddd;
    }
    

}
@media (min-width: 55rem) and (max-height: 50rem) and (min-height: 37rem),
    (min-width: 72rem) and (max-height: 64rem) and (min-height: 37rem) {
  html {
    height: 100%;
  }
  body {
    display: flex;
    max-width: 80rem;
  }
  section {
    padding: 2rem;
    flex: 1;
  }
}
@media (min-width: 72rem) and (max-height: 64rem) and (min-height: 37rem) {
  body {
    background: transparent;
  }
  section {
    background-color: white;
    max-width: 28rem;
    vertical-align: top;
    padding: 4rem;
  }
  section:first-of-type {
    margin-right: 4rem;
  }
}
@media (min-height: 60rem) and (min-width: 30rem) {
  html {
    height: 100%;
  }
  body {
      padding: 0 4rem 1rem 4rem;
  }
}